body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 20px;
}
.Orang-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 120px;
}
.container{
    width: 50%;
    padding-left: 3%;

}
.container img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red) ;
    padding: 10px 30px;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
}
.Information{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 10px 35px ;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
