body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 20px;
}
h4{
    color: orange;
}
.Orang-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.Style-Use{
    width: 50%;
    padding-left: 3%;

}
.Style-Use img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red) ;
    padding: 10px 30px;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
}
.Information{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 10px 35px ;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.panding{
    text-align: center;
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
 
    background-position: left;
}

.Landing-hod{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgb(107, 106, 106);
}
#web-dev-experiences{
    border-left: 7px solid;
    border-image:  linear-gradient(blue, skyblue);
    border-image-slice: 1;
}
#web-style{
    border-left: 7px solid ;
    border-image:  linear-gradient(orange, red);
    border-image-slice:1;
    
}
footer p{
    text-align: center;
}

